<div id="<%= dom_id shop %>">
  <p>
    <strong>Category:</strong>
    <%= shop.category.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shop.address %>
  </p>
</div>